In [1]:
import pandas as pd

In [2]:
bayer_data=pd.read_excel(r'C:\Users\glen.ochieng\Desktop\BAYER\LOXEA_LTD_Speedings_May.xlsx',sheet_name='Speedings')

In [3]:
bayer_data.columns

Index(['Grouping', 'Beginning', 'Location', 'Duration', 'Total time',
       'Max speed', 'Speed limit'],
      dtype='object')

In [4]:
bayer_data

,Grouping,Beginning,Location,Duration,Total time,Max speed,Speed limit
0,KMGA 998K,-----,-----,0:00:00,0:00:00,0,80
1,KMGA 999K,-----,-----,0:00:00,0:00:00,0,80
2,KMGB 032N,-----,-----,0:00:00,0:00:00,0,80
3,KMGB 475R,2025-05-02 15:06:18,"Kaplong-Narok-Maai Road, Narok, Kenya",0:00:04,0:00:04,95,80
4,KMGB 475R,2025-05-05 09:49:55,"Kaplong-Narok-Maai Road, Narok, Kenya, 1.60 km...",0:00:02,0:00:02,83,80
...,...,...,...,...,...,...,...
785,KMGL 192T,2025-05-25 16:01:58,"B8, Tana River, Kenya, 3.52 km from Bura West",0:00:02,0:00:02,84,80
786,KMGL 192T,2025-05-25 16:04:20,"B8, Tana River, Kenya, 5.50 km from Bura West",0:00:02,0:00:02,85,80
787,KMGL 192T,2025-05-25 16:06:07,"B8, Tana River, Kenya, 7.04 km from Bura West",0:00:01,0:00:01,82,80
788,KMGL 192T,2025-05-26 17:38:13,"B8, Tana River, Kenya, 8.39 km from Leka",0:00:01,0:00:01,81,80
789,KMGL 192T,2025-05-30 13:57:56,"B8, Tana River, Kenya, 2.23 km from Pendeza",0:00:01,0:00:01,82,80

In [5]:
bayer_data.dtypes

Grouping       object
Beginning      object
Location       object
Duration       object
Total time     object
Max speed       int64
Speed limit     int64
dtype: object

In [6]:
bayer_data['Beginning']=pd.to_datetime(bayer_data['Beginning'],format='mixed',errors='coerce')

In [7]:
bayer_data.dtypes

Grouping               object
Beginning      datetime64[ns]
Location               object
Duration               object
Total time             object
Max speed               int64
Speed limit             int64
dtype: object

In [8]:
bayer_data

,Grouping,Beginning,Location,Duration,Total time,Max speed,Speed limit
0,KMGA 998K,NaT,-----,0:00:00,0:00:00,0,80
1,KMGA 999K,NaT,-----,0:00:00,0:00:00,0,80
2,KMGB 032N,NaT,-----,0:00:00,0:00:00,0,80
3,KMGB 475R,2025-05-02 15:06:18,"Kaplong-Narok-Maai Road, Narok, Kenya",0:00:04,0:00:04,95,80
4,KMGB 475R,2025-05-05 09:49:55,"Kaplong-Narok-Maai Road, Narok, Kenya, 1.60 km...",0:00:02,0:00:02,83,80
...,...,...,...,...,...,...,...
785,KMGL 192T,2025-05-25 16:01:58,"B8, Tana River, Kenya, 3.52 km from Bura West",0:00:02,0:00:02,84,80
786,KMGL 192T,2025-05-25 16:04:20,"B8, Tana River, Kenya, 5.50 km from Bura West",0:00:02,0:00:02,85,80
787,KMGL 192T,2025-05-25 16:06:07,"B8, Tana River, Kenya, 7.04 km from Bura West",0:00:01,0:00:01,82,80
788,KMGL 192T,2025-05-26 17:38:13,"B8, Tana River, Kenya, 8.39 km from Leka",0:00:01,0:00:01,81,80
789,KMGL 192T,2025-05-30 13:57:56,"B8, Tana River, Kenya, 2.23 km from Pendeza",0:00:01,0:00:01,82,80

In [9]:
bayer_data['Date'] = bayer_data['Beginning'].dt.strftime('%d-%m-%Y')

In [10]:
bayer_data

,Grouping,Beginning,Location,Duration,Total time,Max speed,Speed limit,Date
0,KMGA 998K,NaT,-----,0:00:00,0:00:00,0,80,NaN
1,KMGA 999K,NaT,-----,0:00:00,0:00:00,0,80,NaN
2,KMGB 032N,NaT,-----,0:00:00,0:00:00,0,80,NaN
3,KMGB 475R,2025-05-02 15:06:18,"Kaplong-Narok-Maai Road, Narok, Kenya",0:00:04,0:00:04,95,80,02-05-2025
4,KMGB 475R,2025-05-05 09:49:55,"Kaplong-Narok-Maai Road, Narok, Kenya, 1.60 km...",0:00:02,0:00:02,83,80,05-05-2025
...,...,...,...,...,...,...,...,...
785,KMGL 192T,2025-05-25 16:01:58,"B8, Tana River, Kenya, 3.52 km from Bura West",0:00:02,0:00:02,84,80,25-05-2025
786,KMGL 192T,2025-05-25 16:04:20,"B8, Tana River, Kenya, 5.50 km from Bura West",0:00:02,0:00:02,85,80,25-05-2025
787,KMGL 192T,2025-05-25 16:06:07,"B8, Tana River, Kenya, 7.04 km from Bura West",0:00:01,0:00:01,82,80,25-05-2025
788,KMGL 192T,2025-05-26 17:38:13,"B8, Tana River, Kenya, 8.39 km from Leka",0:00:01,0:00:01,81,80,26-05-2025
789,KMGL 192T,2025-05-30 13:57:56,"B8, Tana River, Kenya, 2.23 km from Pendeza",0:00:01,0:00:01,82,80,30-05-2025

In [11]:
bayer_data.dtypes

Grouping               object
Beginning      datetime64[ns]
Location               object
Duration               object
Total time             object
Max speed               int64
Speed limit             int64
Date                   object
dtype: object

In [12]:
# Convert the 'date' column to datetime format
bayer_data['Date'] = pd.to_datetime(bayer_data['Date'], format='%d-%m-%Y')

In [13]:
# Extracting the time from the Beginning column
bayer_data['Time'] = bayer_data['Beginning'].dt.time

In [14]:
bayer_data

,Grouping,Beginning,Location,Duration,Total time,Max speed,Speed limit,Date,Time
0,KMGA 998K,NaT,-----,0:00:00,0:00:00,0,80,NaT,NaT
1,KMGA 999K,NaT,-----,0:00:00,0:00:00,0,80,NaT,NaT
2,KMGB 032N,NaT,-----,0:00:00,0:00:00,0,80,NaT,NaT
3,KMGB 475R,2025-05-02 15:06:18,"Kaplong-Narok-Maai Road, Narok, Kenya",0:00:04,0:00:04,95,80,2025-05-02,15:06:18
4,KMGB 475R,2025-05-05 09:49:55,"Kaplong-Narok-Maai Road, Narok, Kenya, 1.60 km...",0:00:02,0:00:02,83,80,2025-05-05,09:49:55
...,...,...,...,...,...,...,...,...,...
785,KMGL 192T,2025-05-25 16:01:58,"B8, Tana River, Kenya, 3.52 km from Bura West",0:00:02,0:00:02,84,80,2025-05-25,16:01:58
786,KMGL 192T,2025-05-25 16:04:20,"B8, Tana River, Kenya, 5.50 km from Bura West",0:00:02,0:00:02,85,80,2025-05-25,16:04:20
787,KMGL 192T,2025-05-25 16:06:07,"B8, Tana River, Kenya, 7.04 km from Bura West",0:00:01,0:00:01,82,80,2025-05-25,16:06:07
788,KMGL 192T,2025-05-26 17:38:13,"B8, Tana River, Kenya, 8.39 km from Leka",0:00:01,0:00:01,81,80,2025-05-26,17:38:13
789,KMGL 192T,2025-05-30 13:57:56,"B8, Tana River, Kenya, 2.23 km from Pendeza",0:00:01,0:00:01,82,80,2025-05-30,13:57:56

In [15]:
bayer_data.dtypes

Grouping               object
Beginning      datetime64[ns]
Location               object
Duration               object
Total time             object
Max speed               int64
Speed limit             int64
Date           datetime64[ns]
Time                   object
dtype: object

In [16]:
bayer_data=bayer_data[bayer_data['Max speed']>80]

In [17]:
bayer_data

,Grouping,Beginning,Location,Duration,Total time,Max speed,Speed limit,Date,Time
3,KMGB 475R,2025-05-02 15:06:18,"Kaplong-Narok-Maai Road, Narok, Kenya",0:00:04,0:00:04,95,80,2025-05-02,15:06:18
4,KMGB 475R,2025-05-05 09:49:55,"Kaplong-Narok-Maai Road, Narok, Kenya, 1.60 km...",0:00:02,0:00:02,83,80,2025-05-05,09:49:55
5,KMGB 475R,2025-05-05 09:50:03,"Kaplong-Narok-Maai Road, Narok, Kenya, 1.46 km...",0:00:01,0:00:01,81,80,2025-05-05,09:50:03
6,KMGB 475R,2025-05-05 09:51:38,"Kaplong-Narok-Maai Road, Narok, Kenya, Eoret N...",0:00:04,0:00:04,88,80,2025-05-05,09:51:38
7,KMGB 475R,2025-05-05 09:52:02,"Kaplong-Narok-Maai Road, Narok, Kenya, Eoret N...",0:00:01,0:00:01,83,80,2025-05-05,09:52:02
...,...,...,...,...,...,...,...,...,...
785,KMGL 192T,2025-05-25 16:01:58,"B8, Tana River, Kenya, 3.52 km from Bura West",0:00:02,0:00:02,84,80,2025-05-25,16:01:58
786,KMGL 192T,2025-05-25 16:04:20,"B8, Tana River, Kenya, 5.50 km from Bura West",0:00:02,0:00:02,85,80,2025-05-25,16:04:20
787,KMGL 192T,2025-05-25 16:06:07,"B8, Tana River, Kenya, 7.04 km from Bura West",0:00:01,0:00:01,82,80,2025-05-25,16:06:07
788,KMGL 192T,2025-05-26 17:38:13,"B8, Tana River, Kenya, 8.39 km from Leka",0:00:01,0:00:01,81,80,2025-05-26,17:38:13
789,KMGL 192T,2025-05-30 13:57:56,"B8, Tana River, Kenya, 2.23 km from Pendeza",0:00:01,0:00:01,82,80,2025-05-30,13:57:56

In [18]:
bayer_data=bayer_data[['Grouping','Location','Date','Time','Max speed']]

In [19]:
bayer_data

,Grouping,Location,Date,Time,Max speed
3,KMGB 475R,"Kaplong-Narok-Maai Road, Narok, Kenya",2025-05-02,15:06:18,95
4,KMGB 475R,"Kaplong-Narok-Maai Road, Narok, Kenya, 1.60 km...",2025-05-05,09:49:55,83
5,KMGB 475R,"Kaplong-Narok-Maai Road, Narok, Kenya, 1.46 km...",2025-05-05,09:50:03,81
6,KMGB 475R,"Kaplong-Narok-Maai Road, Narok, Kenya, Eoret N...",2025-05-05,09:51:38,88
7,KMGB 475R,"Kaplong-Narok-Maai Road, Narok, Kenya, Eoret N...",2025-05-05,09:52:02,83
...,...,...,...,...,...
785,KMGL 192T,"B8, Tana River, Kenya, 3.52 km from Bura West",2025-05-25,16:01:58,84
786,KMGL 192T,"B8, Tana River, Kenya, 5.50 km from Bura West",2025-05-25,16:04:20,85
787,KMGL 192T,"B8, Tana River, Kenya, 7.04 km from Bura West",2025-05-25,16:06:07,82
788,KMGL 192T,"B8, Tana River, Kenya, 8.39 km from Leka",2025-05-26,17:38:13,81
789,KMGL 192T,"B8, Tana River, Kenya, 2.23 km from Pendeza",2025-05-30,13:57:56,82

In [20]:
print(bayer_data['Date'].dtype)

datetime64[ns]

In [21]:
bayer_data.to_excel(r'C:\Users\glen.ochieng\Desktop\BAYER PYTHON PIPELINE\May Bayer Overspeeding Data.xlsx', index=False, engine='openpyxl')